<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
	{% extends "template.html" %}
    	{% block content %}

    <h1> This page is all about my qualifications and skills in the IT field</h1>
    <p>Skilled in Cloud Computing, Automation, Deployment and Configuration. 
	The projects and hands-ons experiences are supporting, automating, and 
	optimizing mission critical deployments in AWS, leveraging configuration management, 
	CI/CD, and DevOps processes.
	Responsible, dependable with excellent analytical and organizational skills.
	Always calm and organized in solving problems, multitasking, anticipating needs, 
	and adapting to demanding situations.   
	Self-motivated, ‘Lifelong learner’.
 	</p>
	
	<p>
	•AWS Certified Cloud Practitioner  •Linux  •Windows  •Networking  •Java  •Python  •SQL  
	•Selenium •Cucumber  •Git/GitHub  •Docker  •Kubernetes  •Jenkins  •Chef  •Puppet  •Ansible  •Terraform
	</p>



	{% endblock %}
  </body>
</html>
